# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Local preview / build output
dist
build
.cache
.parcel-cache
